## SQL Exercise

**Welcome to my SQL mini project. For this project, I used Springboard' online SQL platform.**

**Question 1:**
    
Some of the facilities charge a fee to members, but some do not. Please list the names of the facilities that do.

In [ ]:
SELECT *  FROM  Facilities 

WHERE membercost > 0

**Question 2:** 
    
How many facilities do not charge a fee to members?

In [ ]:
SELECT COUNT(name) AS zero_membercost

FROM Facilities 

WHERE membercost = 0

**Question 3:** 
    
How can you produce a list of facilities that charge a fee to members,
where the fee is less than 20% of the facility's monthly maintenance cost?
Return the facid, facility name, member cost, and monthly maintenance of the
facilities in question.

In [ ]:
SELECT facid, name, membercost, monthlymaintenance 

FROM Facilities

WHERE membercost > AND membercost < (0.2*monthlymaintenance)

**Question 4:** 
    
How can you retrieve the details of facilities with ID 1 and 5?
Write the query without using the OR operator.

In [ ]:
SELECT facid FROM Facilities

WHERE facid IN (1,5)

**Question 5:**
    
How can you produce a list of facilities, with each labelled as
'cheap' or 'expensive', depending on if their monthly maintenance cost is
more than $100? Return the name and monthly maintenance of the facilities
in question.

In [ ]:
SELECT name, monthlymaintenance,

CASE 
    WHEN monthlymaintenance > 100 THEN 'expensive'

    ELSE 'cheap' 
    
END AS facility_label

FROM Facilities

**Question 6:**
    
You'd like to get the first and last name of the last member(s)
who signed up. Do not use the LIMIT clause for your solution.

In [ ]:
SELECT firstname, surname, joindate

FROM Members

WHERE joindate = ( SELECT MAX( joindate ) FROM Members )

**Question 7:** 
    
How can you produce a list of all members who have used a tennis court?
Include in your output the name of the court, and the name of the member
formatted as a single column. Ensure no duplicate data, and order by
the member name.

In [ ]:
SELECT DISTINCT surname, firstname, Facilities.name

FROM Members

INNER JOIN Bookings ON Members.memid = Bookings.memid

INNER JOIN Facilities ON Bookings.facid = Facilities.facid

WHERE Facilities.name LIKE "%Tennis Court%"

ORDER by surname DESC

**Question 8:** 
    
How can you produce a list of bookings on the day of 2012-09-14 which
will cost the member (or guest) more than $30? Remember that guests have
different costs to members (the listed costs are per half-hour 'slot'), and
the guest user's ID is always 0. Include in your output the name of the
facility, the name of the member formatted as a single column, and the cost.
Order by descending cost, and do not use any subqueries.

In [ ]:
SELECT CONCAT(firstname,' ',surname) as member_name, Facilities.name AS facility_name, 

CASE 

    WHEN Members.memid = 0 
    
    THEN Bookings.slots*Facilities.guestcost

    ELSE Bookings.slots*Facilities.membercost

END AS cost

FROM Members                

INNER JOIN Bookings ON Members.memid = Bookings.memid

INNER JOIN Facilities ON Bookings.facid = Facilities.facid

WHERE Bookings.starttime >= '2012-09-14 00:00:00' 

      AND Bookings.starttime < '2012-09-15 00:00:00' 

      AND ((Members.memid = 0 AND Bookings.slots * Facilities.guestcost >30) OR

     (Members.memid != 0 AND Bookings.slots*Facilities.membercost >30))

ORDER BY cost DESC

**Question 9:**  
    
This time, produce the same result as in Q8, but using a subquery.

In [ ]:
SELECT member_name, facility, cost 
  
    FROM (SELECT CONCAT (firstname, ' ',  surname) AS member_name,

                        Facilities.name AS facility,

    CASE

        WHEN Members.memid = 0 
          
        THEN  Bookings.slots*Facilities.guestcost

        ELSE  Bookings.slots*Facilities.membercost

    END AS cost

FROM Members

     INNER JOIN Bookings ON Members.memid = Bookings.memid

     INNER JOIN Facilities ON Bookings.facid = Facilities.facid

    WHERE

         Bookings.starttime >= '2012-09-14 00:00:00' AND

         Bookings.starttime < '2012-09-15 00:00:00'

     ) AS bookings

WHERE cost > 30

ORDER BY cost DESC;

**Question 10:** 

Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [ ]:
SELECT name, revenue FROM (
                          
    SELECT Facilities.name,
   
    SUM( CASE WHEN Bookings.memid = 0 THEN Bookings.slots*Facilities.guestcost

               ELSE Bookings.slots*Facilities.membercost

               END) AS revenue
    
    FROM Bookings

    INNER JOIN Facilities ON Bookings.facid = Facilities.facid

    GROUP BY Facilities.name) AS allrvn 

WHERE revenue < 1000

ORDER BY revenue;

In [1]:
pwd

'/Users/amy/00_Springboard/05_Mini_Projects/SQL'